@font-face {
    font-family: "Gala";
    src: url('../Lato-Regular.ttf');
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

body {
    background-image:url('../img/background.png');
    color:white;
    font-size:350%;
    overflow:hidden;
}

#hour{
    text-align:center;
}

#day{
    position:absolute;
    left:785px;
    top:160px;
}

table {
    margin:auto;
    margin-top:20px;
}

h1{
    position:absolute;
    font-family: "Gala";
    color:#E6D458;
    font-size:11rem;
}

h2{
    position:absolute;
    top:200px;
    color:#E6D458;
    font-family: "Gala";
    margin-left:650px;
    text-align:center;
}

#typing{
    font-family: "Gala";
    color:white;
}

td{

    padding:20px;
}

h3{
    color:white;
    font-family: "Gala";
    display:inline;
}

#logo{
    position:relative;
    margin-left:525px;
    width:800px;
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         30s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
}

#logo_hover
{
    position:absolute;
    top:500px;
    width:450px;
    right:750px;
}
